<form action="{% url 'create' %}" method='post'>
{% csrf_token %}
  <label for="Name">Expense Name:</label>
  <input name="name" id="Name" >
  <br>

  <label for="F">Flight:</label>
  <input type="radio" name="source" id="F" value="F">
  <label for="C">Car Rental:</label>
  <input type="radio" name="source" id="C" value="C">
  <label for="H">Hotel:</label>
  <input type="radio" name="source" id="H" value="H">
  <br>

  <label for="Amt">Amount:</label>
  <input name="amount" id="Amt">
  <br>

  <input type="submit" value="Submit">

</form>
