<form action="{% url 'create' %}" method='post'>
{% csrf_token %}
  <label for="Name">Expense Name:</label>
  <input name="name" id="Name" value={{expense.name if (expense is not None) else ''}}>
  <br>

  <label for="F">Flight:</label>
  <input name="source" id="F" value="F" {{'checked' if expense && expense.source=="F"}}>
  <label for="C">Car Rental:</label>
  <input name="source" id="C" value="C" {{'checked' if expense && expense.source=="C"}}>
  <label for="H">Hotel:</label>
  <input name="source" id="H" value="H" {{'checked' if expense && expense.source=="H"}}>
  <br>

  <label for="Amt">Amount:</label>
  <input name="amount" id="Amt" value={{'' if (expense is None) else expense.amount}}>
  <br>

  <input type="submit" value="Submit">

</form>
